/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.restaurant{
  background-image: url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;

}