/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;


.restaurant{
  background-image: url("https://cdn.pixabay.com/photo/2017/06/06/22/46/mediterranean-cuisine-2378758_960_720.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 40vh;

}

.girl-icecream{
  background-image: url("https://cdn.pixabay.com/photo/2020/09/15/23/09/ice-cream-5574910_960_720.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;

}

body{
  background-color: #F8F8F8;
}